* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.d-flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.centering {
    justify-content: center;
    align-items: center;
}
.align-center {
    align-items: center;
}
.flex-end {
    justify-content: flex-end;
}
.flex-column {
    flex-direction: column;
}
.space-between {
    justify-content: space-between;
    color: white;
}
.space-around {
    justify-content: space-around;
}
.vh100 {
    height: 100vh;
}
.vw100 {
    width: 100vw;
}
.item {
    border: 1px solid black;
    background: rgb(248, 241, 241) ;
}
.p-d {
    padding: 30px 50px;
}
.text-decoration {
    text-decoration: none;
}
.error {
    color: red;
}
.grow-1 {
    flex-grow: 1;
}


.form-input {
    width: 286px;
    height: 42px;
    border: 1px solid rgb(100, 100, 241);
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
    outline: none;
}
.btn{
    border-radius: 50px;
    font-size: 15px;
    padding: 9.5px 20px;
    border: none;
    cursor: pointer;
    outline: none;
    font-weight: bold;
}
.btn-primary {
    width: 18em;
    height: 5em;
    margin: 8px;
    border-radius: 5px;
    background-color: #268afc;
    color: white;
}
.btn-primary:hover {
    background-color: #0084ff;
}
.btn-secondary {
    width: 100px;
    height: 42px;
    color: rgb(247, 240, 240);
    background-color: #53bdfa;
}
.btn-secondary:hover {
    color: rgb(10, 10, 10);
    background-color: #3ab5fc;
}
.btn-third {
    width: 100px;
    height: 42px;
    color: rgb(247, 240, 240);
    background-color: #53bdfa;
}
.btn-third:hover {
    color: rgb(10, 10, 10);
    background-color: rgb(238, 79, 79);
}
.m-g-t{
    margin-top: 20px;
}
.m-b-lg {
    margin-bottom: 100px;
}
.m-b-md {
    margin-bottom: 20px;
}
.m-b-sm {
    margin-bottom: 2px;
}
.m-t-sm {
    margin-left: 56px;
}
.p-d-sm {
    padding: 0 20px;
}
.m-r {
    margin: 12px 56px;
}
.m-r-bt {
    margin: 12px 20px;
}
.conversation-item {
    border: 1px solid brown;
    border-radius: 10px;
    margin: 2px 5px;
    padding: 10px;
    font-family: sans-serif;
    cursor: pointer;
    background-color: rgb(192, 245, 247);

}
.conversation-item:hover {
    background-color: rgb(155, 248, 252);
    color: rgb(44, 46, 46);
}
.conversation-item.active {
    background-color: rgb(75, 210, 214);
    color: rgb(44, 46, 46);

}

.bg-primary{
    background-size: cover;
    background-image: url('./img/background.jpg');
   
}
.main-bg{
    background-size: cover;
    background-image: url('./img/main-bg.jpg');
    background-image: url('./img/background.jpg');

    background-position: center;
    background-repeat: no-repeat;
    /* height: 100%; */
}
.lg-title{
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 2em;
}
.main-title{
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 7em;
    color: rgb(235, 247, 167);
    text-shadow: 4px 7px red;
}
.form-input {
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 42px;
    font-size: 17px;
    padding: 0px 16px;
    margin: 5px;
    border-radius: 5px;
    min-width: 286px;
  }
.btn-lg {
    width: 8em;
    height: 3em;
    margin: 8px;
    border-radius: 5px;
    background-color: #268afc;
    color: white;
}
.overflow-y {
    overflow-y: auto;
}
.border-radius {
    border-radius: 7.5px;
}
.box {
    box-sizing: border-box;
    width: 75px;
    height: 75px;
    border: 1px solid black;
    background-color: blueviolet;
    font-size: 50px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-win {
    background-color: red;
}